<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Eat it!{{else}}Burger time!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>